@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
}

body {
    height: 100vh;
}

.alphabet {
    height: 50px;
    width: 50px;
    background-color: #313131;
    border: none;
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}

.how {
    font-size: 25px;
}

#bigger {
    height: 200px;
}

#smaller {
    height: 200px;
}

.title {
    font-size : 40px;
    padding: 0px;
    margin-bottom: 0px;
}

#start-btn {
    width: 200px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    display: inline-flex;
    margin-top: 250px;
}



.alphabet:hover {
    background-color: #858585;
}

.alphabetPLUS:hover {
    background-color: #858585;
}



.space:hover{
    background-color: #858585;
}

.alphabet:disabled {
    background-color: #acacac;
    color: black;
}


.keyboard {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
    justify-content: center;
}

small {
    font-size: 10px;
    margin-bottom: 60px;
}