@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
}

.alphabet {
    height: 50px;
    width: 50px;
    background-color: #acacac;
    border: none;
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 5px;
    font-size: 20px;
}

.alphabet button[disabled]{
    background-color: aqua;

}

.alphabet:disabled{
    background-color: aqua;
}



.alphabetPLUS {
    height: 150px;
    width: 150px;
    background-color: #acacac;
    border: none;
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 5px;
    font-size: 40px;
}

.alphabet:hover {
    background-color: #858585;
}

.alphabetPLUS:hover {
    background-color: #858585;
}

.space {
    height: 50px;
    font-size: 20px;
    border: none;
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 5px;
    padding-right: 70px;
    padding-left: 70px;
    background-color: #acacac;
}

.space:hover{
    background-color: #858585;
}

.alphabet:disabled {
    background-color: #efb8b8;
}

.keyboard {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
    justify-content: center;
}